*{
    margin: 0 auto;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#wybórpokoi{
    display: none;
    width: 500px;
    height: 200px;
}