*{
    margin: 0 auto;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#wyborpokoi{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 200px;
}
#wyborpokoi input{
    width:50px;
}